body{
  background: #13A2E5;
}

header{
  background: #1EC6C6;
  color: white;
  font-family: 'Lin Jian Mao Cao';
}

header h1{
  font-size: 40px;
  display: inline-block;
  padding-right: 30%;
  padding-left: 5%
}

header input{
    margin-right: -2px;
    width: 300px;
    height: 24px;
}

header button{
  width: 80px;
  height: 30px;
  margin-left: -2px;
}

img{
  width: 400px;
  height: 300px;
}

p{
  font-family: 'Baloo Chettan 2';
}

footer{
  background: black;
  color: white;
}

section h1{
  padding-left: 30%;
}

section.Contact{
  text-align: center;
}

footer{
  text-align: right;
}
